PORT=5000
NODE_ENV=development
APP_URL=http://localhost:5000

DATABASE_URL=your_postgresql_connection_string_here

JWT_ACCESS_SECRET=your_jwt_secret_here
JWT_ACCESS_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12