# Dependencies
node_modules/

# Build Output
dist/
build/
generated/

# Environment Variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
